@values desktop, tablet, mobile from "@/styles/breakpoints.css";

.participants {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.label {
  font-weight: 700;
  line-height: 2.6rem;
  font-size: 1.8rem;
  color: var(--nomad_black);

  @media tablet {
    font-size: 2rem;
  }
}

.participantsInput {
  text-align: center;
}

.stepper {
  display: flex;
  width: 12rem;
  height: 4rem;
  padding: 1rem;
  border: 0.1rem solid var(--grayCB);
  background: var(--whiteFF);
  color: var(--gray4B);
  font-size: 1.4rem;
  text-align: center;
  border-radius: 0.6rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.stepper input {
  width: 3rem;
}

.minusButton:disabled svg {
  color: #cdcdcd;
}

.onlyMobile {
  @media pc {
    display: none;
  }
}
