.list {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0.8rem;
  color: var(--black1B);
  font-size: 1.6rem;
  line-height: 2.6rem; 
}

.list:hover {
  border-radius: 0.6rem;
  background: var(--nomad_black);
  color: var(--whiteFF);
  cursor: pointer;
}

.icon {
  margin-right: 0.8rem;
}
