.container {
  width: 100%;
}

.label {
  height: auto;
  display: flex;
  padding: 0.4rem 1.6rem;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--gray79);
  background: var(--whiteFF);
}

.button {
  width: 100%;
  height: 4rem;
  color: var(--grayA4);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; /* 162.5% */
  text-align: start;
}

.lists {
  display: flex;
  height: auto;
  padding: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  flex-shrink: 0;
  margin-top: 0.8rem;
  border-radius: 0.6rem;
  background: var(--whiteFF);
  box-shadow: 0 1rem 3rem 0.3rem rgba(5, 16, 55, 0.15);
}

.list {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  align-self: stretch;
  color: var(--black1B);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; 
}

.list:hover {
  border-radius: 0.6rem;
  background: var(--nomad_black);
  color: var(--whiteFF);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; 
  cursor: pointer;
}

.none {
  display: none;
}
