@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  height: 86rem;

  @media tablet, mobile {
    margin-top: 2.4rem;
  }
}

.calendarContainer {
  width: 100%;
}

.calendarWeekWrapper {
  background: var(--grayFA);
  display: flex;
  width: 100%;
}

.calendarWeekCard {
  display: flex;
  padding: 1.2rem 0 1.2rem 1.2rem;
  /* padding: 1.2rem; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;

  border: 0.1rem solid var(--grayE8);
  background: var(--whiteFF);

  @media tablet {
    width: 6.1rem;
  }

  @media mobile {
    width: 4.9rem;
    padding: 0.8rem 0 0.8rem 0.8rem;
  }
}

.calendarWeekCard:first-child {
  border-top-left-radius: 0.8rem;
}

.calendarWeekCard:last-child {
  border-top-right-radius: 0.8rem;
}

.calendarWeekCard > p {
  color: var(--gray96);
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media mobile {
    font-size: 1.4rem;
  }
}

.calendarDayContainer {
  width: 100%;
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(7, 1fr);
}

.calendarDayWrapper {
  display: flex;
  height: 15.4rem;
  padding-top: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;

  border: 0.1rem solid var(--grayE8);
  background: var(--whiteFF);
}

.calendarDayWrapper > p {
  padding-left: 1.2rem;
  color: var(--gray96);
  font-family: Inter;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.calendarDayWrapper:hover {
  border: 0.1rem solid var(--gray96);
  cursor: pointer;
  border-radius: 0.5rem;
}

.calendarDayWrapper:active {
  border: 0.2rem solid var(--gray79);
}

.calendarDayWrapper:hover > p {
  color: var(--gray79);
}

.chipWrapper {
  width: 100%;
}
