.container {
  display: flex;
  width: 342px;
  padding: 5px 0px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.container > em {
  color: var(--black1B);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
}

.calendarArrow {
  cursor: pointer;
}
