@values desktop, tablet, mobile from '@/styles/breakpoints.css';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--nomad_black);
  color: var(--whiteFF);
  text-align: center;
}

.common {
  composes: button;
  width: 12rem;
  height: 4.8rem;
  padding: 0.8rem 1.6rem;
  gap: 0.4rem;
  border-radius: 0.4rem;
  align-self: stretch;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.auth {
  composes: button;
  width: 35rem;
  padding: 1.4rem 13.6rem;
  gap: 0.8rem;
  border-radius: 0.6rem;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 

  @media tablet {
    width: 14.4rem;
    padding: 0.8rem 1.2rem;
  }

  @media mobile {
    width: 10.8rem;
    padding: 1rem 2rem;
  }
}

.activity {
  composes: button;
  width: 14.4rem;
  height: 4rem;
  padding: 0.8rem 1.2rem;
  gap: 0.8rem;
  border-radius: 0.6rem;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;

  @media tablet {
    width: 11.2rem;
    height: 4rem;
  }

  @media mobile {
    width: 8rem;
    height: 3.2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.activityAdd {
  composes: button;
  width: 100%;
  height: 4.8rem;
  padding: 0.8rem 1.6rem;
  gap: 4rem;
  border-radius: 0.4rem;
  color: var(--whiteFF);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem; 

  @media desktop {
    width: 39.6rem;
  }
}

.inactive {
  background: var(--grayA4);
}

.outline {
  border: 1px solid var(--nomad_black);
  background: var(--whiteFF);
  color: var(--nomad_black);
}
