@import url('https://fonts.googleapis.com/css?family=Mukta:700');

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learnMore {
  width: 20rem;
  height: auto;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.circle {
  position: relative;
  display: block;
  left: 0;
  margin: 0;
  width: 4rem;
  height: 4rem;
  background-color: var(--whiteFF);
  border-radius: 2rem;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.icon {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.buttonText {
  width: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 0;
  margin: 0 0 0 2rem;
  color: var(--whiteFF);
  text-align: center;
  text-transform: uppercase;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);

  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media mobile {
    width: 12rem;
    padding: 1.1rem 0.5rem;
    line-height: 2rem;
  }
}

.button:hover .circle {
  width: 100%;
}

.button:hover .arrow {
  background: #fff;
  transform: translate(14rem, 0);
}

.button:hover .buttonText {
  color: var(--green0B);
}

.arrow {
  left: 0.625rem;
}
