.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.userInputContainer {
  composes: inputContainer;
  gap: 0.8rem;
}

.label {
  color: var(--black1B);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.userInputContainer > .label {
  font-size: 1.6rem;
  font-weight: 400;
}

.input {
  display: flex;
  height: 5.8rem;
  padding: 0.8rem 1.6rem;
  align-items: center;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--gray79);
  background: var(--whiteFF);
  color: var(--black1B);
  font-size: 1.6rem;
  line-height: 2.6rem;
  width: 100%;
}

.input:disabled {
  background-color: var(--grayCB);
  opacity: 0.4;
}

.errorInput {
  border: 0.1rem solid var(--redFF4);
}

.userInputContainer > .input {
  padding: 1.6rem 2rem;
  border-radius: 0.6rem;
}

.input::placeholder {
  color: var(--grayA4);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.errorMessage {
  color: var(--redFF4);
  font-size: 1.2rem;
  line-height: 1.6rem;
}
