@values desktop, tablet, mobile from "@/styles/breakpoints.css";

.container {
  display: flex;
  top: 0;
  width: 38.4rem;
  height: fit-content;
  padding: 2.4rem;
  flex-direction: column;
  gap: 1.6rem;
  background-color: var(--whiteFF);
  border-radius: 2rem;

  @media tablet {
    position: sticky;
    top: 5rem;
    width: 25.1rem;
  }

  @media mobile {
    display: none;
  }
}

.priceInPerson {
  display: flex;
  font-weight: 700;
  font-size: 2.8rem;
  align-items: center;
  gap: 0.5rem;

  @media tablet {
    font-size: 2.4rem;
  }
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.calendar > h2 {
  align-self: self-start;
}

.selectButton {
  display: flex;
  color: var(--nomad_black);
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration-line: underline;
  align-self: flex-start;

  @media desktop {
    display: none;
  }
}

.span {
  color: var(--gray4B);
  font-weight: 400;
  font-size: 2rem;

  @media tablet {
    font-size: 1.6rem;
  }
}

.selectButton {
  display: flex;
  color: var(--nomad_black);
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration-line: underline;
  align-self: flex-start;

  @media desktop {
    display: none;
  }
}

.possibleTime {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  @media tablet {
    display: none;
  }
}

.totalPrice {
  display: flex;
  justify-content: space-between;
}

.mobileSelectBar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  right: 0;
  bottom: 0;
  left: 0;
  height: 8.3rem;
  padding: 1.6rem;
  background-color: var(--whiteFF);

  @media (min-width: 769px) {
    display: none;
  }
}

.mobileReserveButton {
  width: 10.6rem;
  height: 100%;
  color: var(--whiteFF);
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 0.6rem;
  background-color: var(--nomad_black);
}

.mobileReserveButton:disabled {
  background: var(--grayA4);
  color: var(--whiteFF);
}

.mobileSelectButton {
  color: var(--green0B);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration-line: underline;
  text-underline-offset: 0.3rem;
}

.pricePerPersonWrapper {
  font-size: 2rem;
  font-weight: 700;
}
