@values desktop, tablet, mobile from "@/styles/breakpoints.css";

.container {
  display: flex;
  top: 0;
  width: 38.4rem;
  height: fit-content;
  padding: 2.4rem;
  flex-direction: column;
  gap: 1.6rem;
  background-color: var(--whiteFF);
  border-radius: 2rem;

  @media tablet {
    position: sticky;
    top: 5rem;
    width: 25.1rem;
  }

  @media mobile {
    display: none;
  }
}

.customCalendar:global.react-calendar {
  width: 30rem;
  border: 1px solid var(--grayEE);
  font-family: Pretandard;
  border-radius: 0.8rem;

  @media tablet {
    display: none;
  }
}

.customCalendar :global(.react-calendar__month-view__weekdays) abbr {
  color: var(--gray4B);
  font-size: 1.5rem;
  text-decoration: none;
}

.customCalendar :global .react-calendar__navigation button {
  color: var(--black1B);
  font-weight: 700;
  font-size: 1.5rem;
}

.customCalendar :global .react-calendar__tile {
  display: flex;
  height: 4.268rem;
  padding: 1rem;
  color: var(--gray4B);
  font-weight: 600;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
}

.customCalendar :global .react-calendar__month-view__days__day--neighboringMonth,
.customCalendar :global .react-calendar__decade-view__years__year--neighboringDecade,
.customCalendar :global .react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.customCalendar :global .react-calendar__tile--hover,
.customCalendar :global .react-calendar__tile:enabled:hover,
.customCalendar :global .react-calendar__tile:focus {
  color: var(--green0B);
  background-color: var(--greenCE);
}

.customCalendar :global .react-calendar__tile--now {
  background: white;
  color: var(--gray4B);
}

.customCalendar :global .react-calendar__tile:enabled:focus,
.customCalendar :global .react-calendar__tile--active {
  background: var(--green0B);
  color: white;
}

.customCalendar :global(.react-calendar__navigation button.react-calendar__navigation__prev-button) {
  font-size: 3rem;
}

.customCalendar :global(.react-calendar__navigation button.react-calendar__navigation__next-button) {
  font-size: 3rem;
}

.customCalendar :global .react-calendar__navigation button:disabled,
.customCalendar :global .react-calendar__tile:disabled {
  color: #cdcdcd;
  background-color: var(--whiteFF);
}

.priceInPerson {
  display: flex;
  font-weight: 700;
  font-size: 2.8rem;
  align-items: center;
  gap: 0.5rem;

  @media tablet {
    font-size: 2.4rem;
  }
}

.span {
  color: var(--gray4B);
  font-weight: 400;
  font-size: 2rem;

  @media tablet {
    font-size: 1.6rem;
  }
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.calendar > h2 {
  align-self: self-start;
}

.selectButton {
  display: flex;
  color: var(--nomad_black);
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration-line: underline;
  align-self: flex-start;

  @media desktop {
    display: none;
  }
}

.possibleTime {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  @media tablet {
    display: none;
  }
}

.timeButtonContainer {
  display: flex;
  width: 32.8rem;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin-bottom: 0.2rem;
}

.participants {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.participantsInput {
  text-align: center;
}

.stepper {
  display: flex;
  width: 12rem;
  height: 4rem;
  padding: 1rem;
  border: 0.1rem solid var(--grayCB);
  background: var(--whiteFF);
  color: var(--gray4B);
  font-size: 1.4rem;
  text-align: center;
  border-radius: 0.6rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.stepper input {
  width: 3rem;
}
.minusButton svg {
  color: var(--gray4B);
}

.minusButton:disabled svg {
  color: #cdcdcd;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
}

.mobileSelectBar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  right: 0;
  bottom: 0;
  left: 0;
  height: 8.3rem;
  padding: 1.6rem;
  background-color: var(--whiteFF);

  @media (min-width: 769px) {
    display: none;
  }
}

.mobileReserveButton {
  width: 10.6rem;
  height: 100%;
  color: var(--whiteFF);
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 0.6rem;
  background-color: var(--nomad_black);
}

.mobileReserveButton:disabled {
  background: var(--grayA4);
  color: var(--whiteFF);
}

.mobileSelectButton {
  color: var(--green0B);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration-line: underline;
  text-underline-offset: 0.3rem;
}

.pricePerPersonWrapper {
  font-size: 2rem;
  font-weight: 700;
}
