@values tablet, mobile from "@/styles/breakpoints.css";

.header {
  display: flex;
  position: relative;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category {
  font-size: 1.4rem;
  opacity: 0.75;
}

.h1 {
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 0.6rem;

  @media mobile {
    font-size: 2.3rem;
  }
}

.ratingAndLocation {
  display: flex;
  gap: 1.2rem;
}
.rating,
.location {
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  @media mobile {
    font-size: 1rem;
  }
}

.header .rating {
  color: var(--black1B);
  gap: 0.6rem;
}

.kebabButton {
  @media mobile {
    margin-top: 1rem;
  }
}

.options {
  position: absolute;
  top: 7rem;
  right: 1.5rem;
  width: 16rem;
  height: 11.9rem;
  border: 0.1rem solid var(--grayDD);
  border-radius: 0.6rem;
  background-color: var(--whiteFF);
  z-index: 1;

  @media mobile {
    top: 7rem;
    width: 11.5rem;
    height: 9.5rem;
  }
}

.hr {
  height: 0.1rem;
  border: 0;
  background: var(--grayDD);
}

.option {
  width: 100%;
  padding: 1.8rem;
  color: var(--gray4B);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;

  @media mobile {
    padding: 1.2rem;
    font-size: 1.4rem;
  }
}

.option:hover {
  background-color: var(--greenCE);
}

.imageContainer {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 4.2rem;

  @media tablet {
    gap: 0.46rem;
    margin-bottom: 0rem;
  }

  @media mobile {
    margin-bottom: 0rem;
    display: block;
  }
}

.bannerImageWrapper {
  position: relative;
  width: 59.5rem;
  height: 53.4rem;

  @media tablet {
    width: 34.56rem;
    height: 31rem;
  }

  @media mobile {
    width: 37.5rem;
    height: 31rem;
  }
}

.onlyBannerImageWrapper {
  composes: bannerImageWrapper;
}

.imageContainer .onlyBannerImageWrapper img {
  border-radius: 1.2rem;
}

.bannerImageWrapper img {
  object-fit: cover;
  border-radius: 1.2rem 0rem 0rem 1.2rem;

  @media mobile {
    border-radius: 1.2rem;
  }
}

.subImageWrapper {
  position: relative;
  width: 29.35rem;
  height: 26.3rem;

  @media tablet {
    width: 17.05rem;
    height: 15.26rem;
  }

  @media mobile {
    display: none;
  }
}

.subImages {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;

  @media tablet {
    gap: 0.46rem;
  }
}

.subImageWrapper img {
  object-fit: cover;
}
.subImageWrapper:nth-child(2) img {
  border-radius: 0rem 1.2rem 0rem 0rem;
}

.subImageWrapper:nth-child(4) img {
  border-radius: 0rem 0rem 1.2rem 0rem;
}

.oneSubImage {
  composes: subImages;
  display: flex;
}

.oneSubImageWrapper {
  composes: bannerImageWrapper;
  @media mobile {
    display: none;
  }
}

.oneSubImageWrapper img {
  border-radius: 0rem 1.2rem 1.2rem 0rem;
}
