@values tablet, mobile from '@/styles/breakpoints.css';

.button {
  display: flex;
  width: 350px;
  padding: 14px 136px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  flex-shrink: 0;
  background: var(--nomad_black);
  color: var(--whiteFF);
  text-align: center;
  font-family: "Spoqa Han Sans Neo";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media tablet {
    width: 144px;
    height: 48px;
    padding: 8px 12px;
  }

  @media mobile {
    display: flex;
    width: 108px;
    padding: 10px 20px;
  }
}
