@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    font-family: Pretendard, 'sans-serif';
  }

  html,
  body,
  button,
  input,
  h1,
  h2 {
    line-height: normal;
    font-style: normal;
    font-weight: 400;
    word-break: keep-all;
  }

  a,
  button {
    cursor: pointer;
  }
}

/* 전역으로 사용할 className(CSS) */
@layer components {
  .flex-center {
    @apply flex flex-row justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@layer utilities {
}
