:root {
  --black17: #171717;
  --black1B: #1b1b1b;
  --nomad_black: #112211;
  --whiteFF: #ffffff;
  --gray4B: #4b4b4b;
  --gray79: #79747e;
  --grayA1: #a1a1a1;
  --grayE8: #e8e8e8;
  --grayA4: #a4a1aa;
  --grayAD: #adaeb8;
  --grayEE: #eeeeee;
  --grayCB: #cbc9cf;
  --grayDD: #dddddd;
  --grayFA: #fafafa;
  --gray96: #969696;
  --green0B: #0b3b2d;
  --greenCE: #ced8d5;
  --green00: #00ac07;
  --redFF4: #ff472e;
  --redFFE: #ffe4e0;
  --orangeFF7: #ff7c1d;
  --orangeFFF: #fff4e8;
  --yellowFF: #ffc23d;
  --blue00: #0085ff;
  --blue2E: #2eb4ff;
  --blueE5: #e5f3ff;
}
