@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  display: flex;
  width: 37.9rem;
  height: 5.6rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--gray79);
  background: var(--whiteFF);
  font-size: 1.6rem;
  line-height: 2.6rem; 
  cursor: pointer;

  @media tablet {
    width: 14.9rem;
    height: 5.6rem;
  }

  @media mobile {
    width: 13rem;
    height: 4.4rem;
  }
}

.input {
  font-size: 1.6rem;
  line-height: 2.6rem; 
}

.icon {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  @media mobile {
    margin-left: -0.8rem;
  }
}

.react-datepicker-custom :global(.react-datepicker__triangle) {
  left: -3rem !important;
}

.react-datepicker-custom :global(.DatePicker_input__OFkDp) span {
  color: var(--grayA1) !important; 
}
