@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  width: 16rem;
  height: 5.3rem;
  border-radius: 1.5rem;
  border: 0.1rem solid var(--green0B);
  background: var(--whiteFF);
  position: relative;

  /* @media tablet {
    width: 12rem;
    height: 5.3rem;
  }

  @media mobile {
    width: 9rem;
    height: 4.1rem;
  } */
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.4rem;
  flex-shrink: 0;
  color: var(--green0B);
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.8rem;

  /* @media tablet {
    font-size: 1.6rem;
  } */


}

.menu {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  border: 0.1rem solid var(--grayDD);
  background: var(--whiteFF);
  overflow: hidden;
}

.list {
  width: 100%;
  height: auto;
  padding: 1.8rem 0;
  color: var(--gray4B);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem; 
  border-bottom: 0.1rem solid var(--grayDD);
  text-align: center;
  cursor: pointer;
}



.list:last-child {
  border-bottom: none;
}

.list:hover {
  background-color: var(--greenCE);
  color: var(--green0B)
}
