@values tablet, mobile from '@/styles/breakpoints.css';

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  margin-bottom: 0.8rem;
  padding: 1.6rem 2rem;
}

/* price */
.price {
  composes: dropdown;
  width: 12.7rem;
  height: 5.3rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 1.5rem;
  color: var(--green0B);
  border: 0.1rem solid var(--green0B);
  background: var(--whiteFF);

  @media tablet {
    width: 12rem;
  }

  @media mobile {
    width: 9rem;
    height: 4.1rem;
    padding: 1rem 2rem;
    color: var(--green0B);
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.reserve {
  composes: dropdown;
  width: 16rem;
  height: 5.3rem;
  color: var(--green0B);
  font-size: 1.8rem;
  font-weight: 500;
}

.option {
  width: 12.7rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  border: 0.1rem solid var(--grayDD);
  background: var(--whiteFF);
  overflow: hidden;

  @media tablet {
    width: 12rem;
  }

  @media mobile {
    width: 9rem;
  }
}

/* reserve option */
.reserve {
  width: 16rem;
}

.list {
  width: 100%;
  height: auto;
  padding: 1.8rem 0;
  color: var(--gray4B);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  border-bottom: 0.1rem solid var(--grayDD);
  text-align: center;
  cursor: pointer;
}

.list:last-child {
  border-bottom: none;
}

.list:hover {
  background-color: var(--greenCE);
  color: var(--green0B);
}
