@values tablet, mobile from '@/styles/breakpoints.css';

.price {
  width: 12.7rem;
  height: 5.3rem;

  @media tablet {
    width: 12rem;
  }

  @media mobile {
    width: 9rem;
    height: 4.1rem;
  }
}

.reserve {
  width: 16rem;
}

.wrapper {
  border: 0.1rem solid var(--green0B);
  background: var(--whiteFF);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 1.6rem;
  border-radius: 1.5rem;
  margin-bottom: 0.8rem;

  color: var(--green0B);
  font-size: 1.8rem;
  font-weight: 500;
}

.priceWrapper {
  composes: wrapper;

  @media mobile {
    padding: 1.2rem;
    font-size: 1.4rem;
  }
}

.option {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  border: 0.1rem solid var(--grayDD);
  background: var(--whiteFF);
  overflow: hidden;
}

.list {
  width: 100%;
  height: 100%;
  padding: 1.8rem 0;
  color: var(--gray4B);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.priceList {
  composes: list;

  @media mobile {
    font-size: 1.4rem;
    padding: 1rem 0;
  }
}

.list:last-child {
  border-bottom: none;
}

.list:hover {
  background-color: var(--greenCE);
  color: var(--green0B);
}
