@values tablet, mobile from '@/styles/breakpoints.css';

.cardWrapper {
  cursor: pointer;
  width: 100%;
  height: 20.4rem;
  border-radius: 2.4rem;
  background: var(--whiteFF);
  box-shadow: 0 0.4rem 1.6rem 0 rgba(17, 34, 17, 0.05);
  display: flex;

  @media tablet {
    height: 15.6rem;
    border-radius: 1rem;
  }
  @media mobile {
    height: 12.8rem;
    border-radius: 1rem;
  }
}

.imageWrapper {
  position: relative;
  width: 20.4rem;
  height: 100%;

  @media tablet {
    width: 15.6rem;
  }
  @media mobile {
    width: 12.8rem;
  }
}

.imageWrapper img {
  border-radius: 2.4rem 0 0 2.4rem;
}

.detailContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 2.55rem 2.4rem;
  gap: 0.8rem;

  @media tablet {
    padding: 1.2rem 1.8rem;
    gap: 0rem;
  }
  @media mobile {
    padding: 0.9rem 1.4rem;
    gap: 0rem;
  }
}

.detailContainer > * {
  color: var(--nomad_black);
}

.status {
  color: var(--blue2E);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  @media mobile {
    font-size: 1.4rem;
  }
}

.pending {
  color: var(--blue2E);
}

.confirmed {
  color: var(--orangeFF7);
}

.declined {
  color: var(--redFF4);
}

.completed,
.canceled {
  color: var(--gray79);
}

.h2 {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 54rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;

  @media tablet {
    width: 23.7rem;
    font-size: 1.8rem;
  }

  @media mobile {
    width: 20rem;
    font-size: 1.4rem;
  }
}

.dateDetail {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  white-space: nowrap;
  @media tablet {
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
  }
  @media mobile {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }
}

.dateDetail > * {
  font-size: 1.8rem;
  line-height: 2.4rem;
  @media tablet {
    font-size: 1.4rem;
  }
  @media mobile {
    font-size: 1.2rem;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  @media tablet {
    font-size: 2rem;
  }
  @media mobile {
    font-size: 1.6rem;
  }
}
