@values tablet, mobile from '@/styles/breakpoints.css';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--grayFA);

  padding-bottom: 24.7rem;

  @media mobile {
    padding-bottom: 15.3rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;

  @media tablet {
    width: 100%;
  }

  @media mobile {
    width: 100%;
  }
}

.searchbarWrapper {
  width: 100%;
  @media tablet {
    width: 100%;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  @media mobile {
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
