@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--grayFA);
  padding-bottom: 24.7rem;

  @media mobile {
    padding-bottom: 15.3rem;
  }
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;

  @media tablet {
    width: 100%;
  }

  @media mobile {
    width: 100%;
  }
}

.noResultContainer {
  margin-top: 15rem;
}

.loadingContainer {
  margin-top: 46.4rem;
}
