@values tablet, mobile from '@/styles/breakpoints.css';

.myPageContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;

  @media tablet {
    gap: 1.6rem;
  }

  @media mobile {
    gap: 1.6rem;
  }
}

.topContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.titleContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  color: var(--black1B);
  font-weight: 700;
}

.titleContainer > .title {
  font-size: 3.2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
