@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  width: 79.2rem;
  @media tablet {
    width: 42.9rem;
  }
  @media mobile {
    width: 34.4rem;
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.h2 {
  color: var(--nomad_black);
  font-size: 3.2rem;
  font-weight: 700;
}
