@values tablet, mobile from '@/styles/breakpoints.css';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 120rem;

  margin: 0 auto;
  @media tablet {
    width: max(69.6rem, calc(100% - 2.4rem));
  }

  @media mobile {
    width: max(34.3rem, calc(100% - 1.6rem));
  }
}
