@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  width: 100%;
  display: flex;
  position: relative;
  height: 55rem;
  overflow: hidden;
  @media mobile {
    height: 24rem;
  }
}

.slider {
  position: relative;
  display: flex;
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 100%;
}

.bannerContainer {
  flex: 0 0 100%;
  overflow: hidden;
  position: relative;
}

.leftArrow,
.rightArrow {
  display: block;
  position: absolute;
  top: 0;

  color: var(--whiteFF);
  background-color: transparent;
  font-size: 2rem;
  height: 100%;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.textContainer {
  width: 120rem;
  margin: 15.9rem auto 0;
  position: relative;
  z-index: 2;
  margin-top: 15.9rem;

  @media tablet {
    margin-left: 3.2rem;
  }

  @media mobile {
    margin-top: 7.4rem;
    margin-left: 2.4rem;
  }
}

.textLastContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 15.9rem;

  @media mobile {
    margin-top: 7.4rem;
    margin-left: 2.4rem;
  }
}

.mainTitle {
  display: inline-block;
  width: 70rem;
  color: var(--whiteFF);
  font-size: 6.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2rem;

  @media tablet {
    font-size: 5.4rem;
    margin-bottom: 0.8rem;
  }

  @media mobile {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
  }
}

.mainLastTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text {
  color: var(--whiteFF);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2rem;

  @media tablet {
    font-size: 2rem;
  }

  @media mobile {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
  }
}

.opacity30 {
  opacity: 30%;
}

.opacity100 {
  opacity: 100%;
}

.rotateReverse {
  rotate: 180deg;
}
