@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  margin-top: 15.8rem;
  /* width: 120rem; */
  width: 100%;
  overflow: hidden;

  @media tablet {
    margin-top: 14.2rem;
  }

  @media mobile {
    margin-top: 9.3rem;
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.header > h1 {
  color: var(--black-black_1B1B1B, #1b1b1b);
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3.3rem;

  @media mobile {
    font-size: 1.8rem;
  }
}

.arrowWrapper {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.arrow {
  cursor: pointer;
}

.arrowEnable {
  stroke: var(--grayA4);
}

.arrowDisable {
  stroke: var(--gray4B);
}

.cardContainer {
  width: 100%;
}

.cardWrapper {
  display: flex;
  gap: 2.4rem;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;

  @media tablet {
    gap: 3.2rem;
  }

  @media mobile {
    gap: 1.6rem;
  }
}
