.alamModalContainer {
  position: absolute;
  border: 0.1rem solid var(--grayDD);
  border-radius: 0.8rem;
  top: 4.5rem;
  right: 3rem;
  background-color: var(--greenCE);
  width: 36.8rem;
  height: auto;
  padding: 2.4rem 2rem;
}

.alamModalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
}

.alamModalContentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.alamModalContentWrapper {
  background-color: var(--whiteFF);
  width: 32.8rem;
  height: auto;
  border-radius: 0.8rem;
  padding: 1.6rem 1.2rem;
}

.alamModalContentHeader {
  display: flex;
  justify-content: space-between;
}

.alamModalContentTime {
  margin-top: 0.4rem;
  color: var(--grayA4);
}
