@values tablet, mobile from '@/styles/breakpoints.css';

.profileDropDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.profileDropDownContainer {
  position: absolute;
  background-color: var(--whiteFF);
  top: 4.5rem;
  left: 6rem;
  z-index: 7;
  width: 100%;
  height: auto;
  border: 0.1rem solid var(--grayDD);
  border-radius: 0.8rem;
  font-size: 1.4rem;

  @media mobile {
    left: 0;
  }
}

.profileDropDownContent {
  padding: 0.2rem;
}

.profileDropDownContent :hover {
  border-radius: 0.8rem;
  background-color: var(--greenCE);
}

.styledHr {
  background: var(--grayDD);
  height: 0.1rem;
  border: 0;
}
