@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: center;
}

.paginationNumberWrapper {
  display: flex;
  width: 5.5rem;
  height: 5.5rem;
  padding: 1.7rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  background: var(--whiteFF);
  cursor: pointer;
  border: 0.1rem solid var(--green0B);

  @media mobile {
    display: flex;
    width: 4rem;
    height: 4rem;
    padding: 0;
  }
}

.paginationNumberWrapper svg {
  position: absolute;
  cursor: pointer;
  width: 21px;
  height: 21px;

  @media mobile {
    width: 15.273px;
    height: 15.273px;
  }
  color: #0b3b2d;
}

.paginationNumberWrapper:disabled {
  border: 0.1rem solid var(--grayDD);
}

.paginationNumberWrapper:disabled svg {
  color: #a1a1a1;
}

.paginationNumberWrapper:not(:disabled):not(.selectedNumber):hover {
  background-color: var(--greenCE);
}

.selectedNumber {
  background: var(--green0B);
  color: var(--whiteFF);
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.notSelectedNumber {
  background: var(--whiteFF);
  color: var(--green0B);
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 1.5rem;
  border: 0.1rem solid var(--green0B);
  background: var(--whiteFF);
}
