@values tablet, mobile from '@/styles/breakpoints.css';

.button {
  display: block;
  position: absolute;
  top: 9rem;
  left: 0;
  float: left;
  width: 12rem;
  padding: 1.2rem 1rem;
  margin: 1rem 2rem 1rem 0;
  font-weight: 600;
  text-align: center;
  line-height: 5rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 0.2s;

  color: var(--whiteFF);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media mobile {
    top: 3rem;
    width: 12rem;
    padding: 1.1rem 0.5rem;
    line-height: 2rem;
  }
}
.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #007144;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #1e8185;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #007144;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1e8185;
}

.btnBlueGreen {
  background: #00ae68;
}

.btnLightBlue {
  background: #5dc8cd;
}
