.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--grayFA);
}

.wrapper p,
.wrapper h2,
.wrapper h1 {
  color: var(--nomad_black);
}

.mainContainer {
  display: flex;
  width: 120rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.3rem;
  padding-top: 7.8rem;
}

.contentContainer {
  display: flex;
  width: 100%;
  gap: 2.4rem;
}

.leftContentContainer {
  display: flex;
  width: 79rem;
  gap: 4rem;
  flex-direction: column;
}

.hr {
  width: 79rem;
  height: 0.1rem;
  background: var(--nomad_black);
  opacity: 0.25;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
}

.description {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.location {
  display: flex;
  margin-top: -3.2rem;
  align-items: center;
}

.rightContentContainer {
  display: flex;
  width: 38.4rem;
  height: 74.6rem;
  background-color: var(--whiteFF);
  border-radius: 2rem;
  justify-content: center;
}

.customCalendar:global.react-calendar {
  width: 30rem;
  border: 1px solid var(--grayEE);
  font-family: Pretandard;
  border-radius: 0.8rem;
}

.customCalendar :global(.react-calendar__month-view__weekdays) abbr {
  text-decoration: none;
}

.customCalendar :global .react-calendar__navigation button {
  font-weight: 700;
  font-size: 1.4rem;
}

.customCalendar :global .react-calendar__tile {
  display: flex;
  width: 3.5rem;
  height: 4rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  color: var(--gray4B);
}

.customCalendar :global .react-calendar__month-view__days__day--neighboringMonth,
.customCalendar :global .react-calendar__decade-view__years__year--neighboringDecade,
.customCalendar :global .react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.customCalendar :global .react-calendar__tile--hover,
.customCalendar :global .react-calendar__tile:enabled:hover,
.customCalendar :global .react-calendar__tile:focus {
  background-color: var(--greenCE);
  color: var(--green0B);
}

.customCalendar :global .react-calendar__tile:enabled:focus,
.customCalendar :global .react-calendar__tile--active {
  background: var(--green0B);
  color: white;
}

.customCalendar :global .react-calendar__tile--now {
  color: var(--gray4B);
  background: white;
}

.customCalendar :global(.react-calendar__navigation button.react-calendar__navigation__prev-button) {
  font-size: 3rem;
}

.customCalendar :global(.react-calendar__navigation button.react-calendar__navigation__next-button) {
  font-size: 3rem;
}
