.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--grayFA);
}

.wrapper p,
.wrapper h2,
.wrapper h1 {
  color: var(--nomad_black);
}

.mainContainer {
  display: flex;
  width: 120rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.3rem;
  padding-top: 7.8rem;
}

.contentContainer {
  display: flex;
  width: 100%;
  gap: 2.4rem;
}

.leftContentContainer {
  display: flex;
  width: 79rem;
  gap: 4rem;
  flex-direction: column;
}

.hr {
  width: 79rem;
  height: 0.1rem;
  background: var(--nomad_black);
  opacity: 0.25;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
}

.description {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.location {
  display: flex;
  margin-top: -3.2rem;
  align-items: center;
}

.rightContentContainer {
  display: flex;
  width: 38.4rem;
  height: 74.6rem;
  background-color: var(--whiteFF);
  border-radius: 2rem;
  justify-content: center;
}

.customCalendar:global.react-calendar {
  width: 30rem;
  border: 1px solid var(--grayEE);
  font-family: Pretandard;
  border-radius: 0.8rem;
}

.customCalendar :global(.react-calendar__month-view__weekdays) abbr {
  text-decoration: none;
}

.customCalendar :global .react-calendar__navigation button {
  font-weight: 700;
  font-size: 1.4rem;
}

/* .customCalendar :global .react-calendar__tile--active:enabled:hover, */

.customCalendar :global .react-calendar__tile {
  display: flex;
  width: 3.5rem;
  height: 4rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  color: var(--gray4B);
}

.customCalendar :global .react-calendar__month-view__days__day--neighboringMonth,
.customCalendar :global .react-calendar__decade-view__years__year--neighboringDecade,
.customCalendar :global .react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

/* .customCalendar :global .react-calendar__tile--now:enabled:hover,
.customCalendar :global .react-calendar__tile--now:enabled:focus {
  background: var(--whiteFF);
} */

/* .customCalendar :global .react-calendar--selectRange, */
.customCalendar :global .react-calendar__tile--hover,
.customCalendar :global .react-calendar__tile:enabled:focus,
.customCalendar :global .react-calendar__tile:focus {
  background-color: var(--greenCE);
  color: var(--green0B);
}
.customCalendar :global .react-calendar__tile:enabled:hover,
.customCalendar :global .react-calendar__tile--active {
  background: var(--green0B);
  color: white;
}
.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  background: none;
  min-width: 44px;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  font: inherit;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  font: inherit;
  font-weight: bold;
  font-size: 0.75em;
  align-items: center;
  justify-content: center;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  padding: 10px 6.6667px;
  background: none;
  font: inherit;
  font-size: 0.833em;
  line-height: 16px;
  text-align: center;
  max-width: 100%;
}

.react-calendar__tile:disabled {
  color: #ababab;
  background-color: #f0f0f0;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
