.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper p,
.wrapper h2,
.wrapper h1 {
  color: var(--nomad_black);
}

.mainContainer {
  display: flex;
  width: 120rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.3rem;
  padding-top: 7.8rem;
}

.contentWrapper {
  display: flex;
  gap: 2.4rem;
}

.leftContentContainer {
  display: flex;
  width: 79rem;
  gap: 4rem;
  flex-direction: column;
}

.hr {
  width: 79rem;
  height: 0.1rem;
  background: var(--nomad_black);
  opacity: 0.25;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
}

.description {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
