@values tablet, mobile from '@/styles/breakpoints.css';

@keyframes slidein {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideinpc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideoutpc {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.alarmModalContainer {
  position: absolute;
  border: 0.1rem solid var(--grayDD);
  border-radius: 1rem;
  top: 6rem;
  right: 17rem;
  background-color: var(--greenCE);
  width: 36.8rem;
  height: auto;
  padding: 2.4rem 2rem;
  animation: slideinpc 0.3s ease-out;
  display: flex;
  flex-direction: column;
  height: 40rem;
  box-sizing: border-box;

  @media mobile {
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    border-radius: 0 0 0.8rem 0.8rem;
    animation: slidein 0.3s ease-out;
  }
}

.alarmModalCloseContainer {
  composes: alarmModalContainer;
  animation: slideoutpc 0.3s ease-out;

  @media mobile {
    animation: slideout 0.3s ease-out;
  }
}

.alarmModalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
}

.alarmModalContentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: scroll;
  width: fit-content;
}

.alarmModalContentWrapper {
  background-color: var(--whiteFF);
  width: 32.8rem;
  height: auto;
  border-radius: 0.5rem;
  padding: 1.6rem 1.2rem;

  @media mobile {
    width: 100%;
  }
}

.alarmModalContentHeader {
  display: flex;
  justify-content: space-between;
}

.alarmModalContent {
  color: var(--black1B);
  font-size: 14px;
  line-height: 2.2rem;
}

.approveTrue {
  color: var(--blue00);
}

.approveFalse {
  color: var(--redFF4);
}

.alarmModalContentTime {
  margin-top: 0.4rem;
  color: var(--grayA4);
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.noAlarmWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  font-size: 1.6rem;
}
