@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  border-bottom: 0.1rem solid var(--grayDD);
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.9rem 0;

  @media mobile {
    padding: 1.9rem;
    justify-content: space-between;
  }
}

.logoWrapper {
  width: fit-content;
  height: fit-content;
  margin-left: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  @media mobile {
    width: fit-content;
    height: fit-content;
  }
}

.logoImg {
  width: 2.8rem;
  height: auto;
}

.logoTitle {
  color: var(--green0B);
  font-size: 2rem;
  font-weight: 600;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.4rem;
  position: relative;
  min-width: 28.4rem;
  justify-content: flex-end;

  @media mobile {
    position: unset;
    min-width: none;
    gap: 1.5rem;
  }
}

.border {
  height: 2.2rem;
  border-right: 0.17rem solid var(--grayDD);
}

.userName {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--black1B);
  font-size: 1.4rem;
  font-weight: 500;
}

.userProfile {
  border-radius: 50%;
}

.loginContent {
  color: var(--black17);
  font-size: 1.4rem;
  font-weight: 500;
}

.alarmButton {
  position: relative;
}

.isEllipse {
  position: absolute;
  top: 0;
  right: 0.35rem;
}
