.container {
  border: 0.1rem solid var(--black17);
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.4rem;
  position: relative;
}

.border {
  height: 2.2rem;
  border-right: 0.17rem solid var(--grayDD);
}

.userName {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.styledHr {
  margin-bottom: 0.5rem;
}
.isOpen {
  position: absolute;
  background-color: var(--whiteFF);
  top: 4.5rem;
  z-index: 7;
  padding-top: 0.5rem;
  width: 100%;
  height: 14rem;
  border: 0.1rem solid var(--grayDD);
  font-size: 1.4rem;
  border-radius: 0.8rem;
}

.notOpen {
  display: none;
}

.navDropDown {
  margin: 0 0 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
