@values tablet, mobile from '@/styles/breakpoints.css';

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.dateContainer {
  margin-bottom: 0.7rem;
}

.cardsWrapper {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 1.6rem;
  height: 29.4rem;
}

.cardsWrapper::-webkit-scrollbar {
  display: none;
}

.subTitle {
  color: var(--black1B);
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  margin-top: 2.5rem;
}

.date {
  composes: subTitle;
  font-weight: 400;
  margin-top: 1.4rem;
  margin-bottom: 1.2rem;

  @media mobile {
    margin-top: 1.6rem;
    margin-bottom: 1rem;
  }
}
