@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  width: max(28.3rem, 100%);
  aspect-ratio: auto 1/1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  @media tablet {
    width: max(22.1rem, 100%);
  }

  @media mobile {
    width: max(16.8rem, 100%);
  }
  cursor: pointer;
}

.container:hover {
  .image {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
  }
}

.imageWrapper {
  position: relative;
  width: max(28.3rem, 100%);
  aspect-ratio: auto 1/1;
  border-radius: 2rem;
  overflow: hidden;

  @media tablet {
    width: max(22.1rem, 100%);
  }

  @media mobile {
    width: max(16.8rem, 100%);
  }
}

.image {
  transition: 0.1s ease-in-out;
}

.descriptionContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.descriptionTopWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.descriptionTopWrapper > h3 {
  color: var(--black1B);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media mobile {
    font-size: 1.8rem;
  }
}

.descriptionTopWrapper > p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.descriptionBottomWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.descriptionBottomWrapper > em {
  color: var(--black1B);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media mobile {
    font-size: 2rem;
  }
}

.descriptionBottomWrapper > p {
  color: var(--gray4B);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media mobile {
    font-size: 1.6rem;
  }
}

.reviewWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.reviewWrapper > p {
  color: var(--black1B);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reviewWrapper > p > span {
  color: var(--gray-gray_A1A1A1, #a1a1a1);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
