@values tablet, mobile from '@/styles/breakpoints.css';

.container {
  position: relative;
  width: 100%;

  @media tablet {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  @media mobile {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.categoryWrapper {
  width: 100%;
  position: relative;
}

.categoryRightShadow {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  flex-shrink: 0;
  margin-right: -1.5rem;

  @media tablet {
    display: block;
    height: 6rem;
    width: 8rem;
  }

  @media mobile {
    display: block;
    width: 5.7rem;
    height: 5.3rem;
    margin-right: -1.8rem;
  }
  background: linear-gradient(to right, #fafbfc 50%, #fafbfc 80%, transparent);
}

.categoryLeftShadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  margin-left: -2.5rem;

  @media tablet {
    display: block;
    height: 6rem;
    width: 6rem;
  }

  @media mobile {
    display: block;
    width: 5.7rem;
    height: 5.3rem;
    margin-right: -1rem;
  }
  background: linear-gradient(to left, #fafbfc 50%, #fafbfc 80%, transparent);
}

.titleWrapper {
  margin-top: 4rem;
  margin-bottom: 2.4rem;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.4rem;
  row-gap: 4.8rem;

  @media tablet {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
    row-gap: 3.2rem;
  }

  @media mobile {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.8rem;
    row-gap: 2.4rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  color: var(--black1B);
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.header > h1 {
  color: var(--black1B);
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media mobile {
    font-size: 1.8rem;
  }
}

.searchedHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.searchedHeader > h1 {
  color: var(--black1B);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.searchedHeader > h1 > span {
  color: var(--nomad_black);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media mobile {
    font-size: 2.4rem;
  }
}

.searchedHeader > p {
  color: var(--black1B);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;

  @media mobile {
    font-size: 2.4rem;
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 7.2rem;

  @media mobile {
    margin-top: 6.2rem;
  }
}

.rotateContrary {
  rotate: 180deg;
}
