.mapContainer {
  position: relative;
  background-color: var(--whiteFF);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.8rem;
  margin-top: 1.6rem;
}

.mapModalTitle {
  color: var(--black1B);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
}

.mapInputWrapper {
  width: 100%;
}

.mapInput {
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.6rem;
  border: 0.1rem solid var(--gray79);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--black1B);
}
